# IDE
.bsp/
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/misc.xml

# server side
target/
project/boot/
project/plugins/project/

# client side
.parcel-cache
node_modules
dist/
src/main/parcel/script/graphql/generated*
