
.before
  background-color #ffaaaa

.after
  position relative
  >textarea
    all unset
    position absolute
    top 0
    left 0
    width 100%
    height 100%
  background-color #aaffaa

.flexTextArea
  position relative
  >.dummy
    white-space pre-wrap
    word-wrap break-word
    overflow-wrap break-word
  >textarea
    all unset
    position absolute
    top 0
    left 0
    width 100%
    height 100%
